
.left{
    /* background-color: red; */
    height: 100vh;
    overflow-y: scroll;
}
.right{
    /* background-color: blue; */
    height: 100vh;
   
    /* overflow: scroll; */
    
}
.content{
    /* background-color: yellow; */
    height: 100vh;
    overflow-y: scroll;
}